* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #888;
  
}
::selection {
  background: #3266d0; 
  color: #ffffff;
}
.container {
  max-width: 135rem;
  padding: 0 3rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li{
  display: inline-block;
}
.align-items{
  align-items: center;
}
.text-aling{
  text-align: center;
}
.log-100{
  flex: 0 0 auto;
  width: 100%;
}
.log-80{
  flex: 0 0 auto;
  width: 80%;
}
.log-66{
  flex: 0 0 auto;
  width: 66.6666666667%;
}
.col-log-33{
  flex: 0 0 auto;
  width: 33.3333333333%;
  padding: 0 1rem;
}
.col-log-25{
  flex: 0 0 auto;
  width: 25%;
  padding: 0 1rem;
}
.offset-01{
  margin-left: 24%;
}
.offset-02{
  margin-left: 16.6666666667%;
}
.row{
  display: flex;
}
.section{
  padding-top: 10rem;
  padding-bottom: 10rem;
}