* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
}
::selection {
  background: #3266d0; 
  color: #ffffff;
}
.container {
  max-width: 136rem;
  padding: 0 3rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.align-items{
  align-items: center;
}
.log-100{
  flex: 0 0 auto;
  width: 100%;
}
.row{
  display: flex;
}