/* *********** */
/* BELOW 1200px  */
/* *********** */
@media  (max-width: 75em){
    .container {
    max-width: 110rem;
    }
}
/* *********** */
/* BELOW 1000px  */
/* *********** */
@media  (max-width: 62.5em){
.container {
    max-width: 80rem;
}
.row{
      flex-wrap: wrap;
      justify-content: center;
}
.home-box-left{
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
}
.hero-h1 {
        font-size: 3rem;
}
.hero-p {
     margin-top: 2rem;
}
.home-box-right{
      width: 100%;
}
.section-title h2 {
      font-size: 2.4rem;
      margin-bottom: 2rem;
}
.section-title p {
    font-size: 1.5rem;
    line-height: 2rem;
}
.col-log-33 {
    width: 50%;
}
.margin {
    margin-top: 4rem;
}
.title h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.title p {
    font-size: 1.6rem;
}
.cl-md-01{
    width: 33.3333333333%;
}
.offset-01,
.offset-02 {
    margin-left: 0%;
}
.single-ach h3 {
    font-size: 3.2rem;
}
.col-log-25 {
    width: 50%;
    margin-bottom: 2rem;
}
.cta-content h2 {
    font-size: 3.2rem;
    line-height: 4rem;;
}.cta-content p {
    font-size: 1.4rem;
}
.call-md-04{
    width: 33.3333333333%;
}
.call-md-08{
    width: 66.6666666667%;
}
.scoial li {
    margin-right: 2.6rem;
    margin-bottom: 2rem;
}
.nav-bar-togle{
    display: block;
    background-color: transparent;
    cursor: pointer;
}
.navbar {
    justify-content: space-between;
}
  .nav-mid {
    position: absolute;
    top: 67px;
    left: 0;
    width: 100%;
    background: #fff;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
   transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
 
  }
  .nav-mid-active{
   margin-top: 2rem;
   display: flex;
   position: absolute;
    top: 67px !important;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-height: 350px;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    border-radius: 6px;
    opacity: 1;
    transform: translateY(0);
  }
  .nav-item {
    margin: 0;
}
.nav-link {
    padding: 12px 16px !important;
    font-size: 1.2rem;
    display: block;
    color: #020202;
}
.nav-ul {
    flex-direction: column;
    width: 100%;
}

}